@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

html {
  background-color: black;
  font-family: 'Inter', sans-serif;
}

@theme {
  --animate-glow: glow 1s linear infinite alternate;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 211, 141, 0.3));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 247, 234, 0.8));
  }
}

/* Odometer fast animation */
.odometer-fast .odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer-fast .odometer.odometer-animating-down .odometer-ribbon-inner {
  transition: transform 1s ease-in-out !important;
}

.odometer-fast
  .odometer.odometer-animating-down.odometer-animating
  .odometer-ribbon-inner {
  transition: transform 1s ease-in-out !important;
}
